<div class="row">
    <div class="col-md-12"><br>
        <h2>Courses</h2>
        <hr />
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Course Code</th>
                        <th scope="col">Course Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each course}}
                    <tr>
                        <td><a href="/course/{{courseId}}"></a>{{courseCode}}</td>
                        <td><a href="/students?course={{courseId}}">{{courseDescription}}</a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-12 text-center"><strong>{{message}}</strong></div>
</div>